In [ ]:
import pandas as pd
import numpy as np

In [1]:
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()

&#9989; *Use **TAB** for auto-complete and **shift + TAB**  for doc.*

In [ ]:
# How the index, columns and array_2d look like!
index

['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10']

In [ ]:
columns

['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

### Using arange make a 2d array (10, 10) of 100 to 0 values.

In [7]:
import pandas as pd
import numpy as np
np.arange(100,0,-1).reshape(10,10)

array([[100,  99,  98,  97,  96,  95,  94,  93,  92,  91],
       [ 90,  89,  88,  87,  86,  85,  84,  83,  82,  81],
       [ 80,  79,  78,  77,  76,  75,  74,  73,  72,  71],
       [ 70,  69,  68,  67,  66,  65,  64,  63,  62,  61],
       [ 60,  59,  58,  57,  56,  55,  54,  53,  52,  51],
       [ 50,  49,  48,  47,  46,  45,  44,  43,  42,  41],
       [ 40,  39,  38,  37,  36,  35,  34,  33,  32,  31],
       [ 30,  29,  28,  27,  26,  25,  24,  23,  22,  21],
       [ 20,  19,  18,  17,  16,  15,  14,  13,  12,  11],
       [ 10,   9,   8,   7,   6,   5,   4,   3,   2,   1]])

In [ ]:
array_2d

array([[100,  99,  98,  97,  96,  95,  94,  93,  92,  91],
       [ 90,  89,  88,  87,  86,  85,  84,  83,  82,  81],
       [ 80,  79,  78,  77,  76,  75,  74,  73,  72,  71],
       [ 70,  69,  68,  67,  66,  65,  64,  63,  62,  61],
       [ 60,  59,  58,  57,  56,  55,  54,  53,  52,  51],
       [ 50,  49,  48,  47,  46,  45,  44,  43,  42,  41],
       [ 40,  39,  38,  37,  36,  35,  34,  33,  32,  31],
       [ 30,  29,  28,  27,  26,  25,  24,  23,  22,  21],
       [ 20,  19,  18,  17,  16,  15,  14,  13,  12,  11],
       [ 10,   9,   8,   7,   6,   5,   4,   3,   2,   1]])

In [ ]:
# create a DataFrame using index, columns and array_2d now

In [12]:
import pandas as pd
import numpy as np
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()
df = np.arange(100,0,-1).reshape(10,10)
df = pd.DataFrame(data=df,index=index,columns=columns)
print(df)

      c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1   100  99  98  97  96  95  94  93  92   91
r2    90  89  88  87  86  85  84  83  82   81
r3    80  79  78  77  76  75  74  73  72   71
r4    70  69  68  67  66  65  64  63  62   61
r5    60  59  58  57  56  55  54  53  52   51
r6    50  49  48  47  46  45  44  43  42   41
r7    40  39  38  37  36  35  34  33  32   31
r8    30  29  28  27  26  25  24  23  22   21
r9    20  19  18  17  16  15  14  13  12   11
r10   10   9   8   7   6   5   4   3   2    1

In [ ]:
# How the DataFrame look like!
df  # select * from df

      c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1   100  99  98  97  96  95  94  93  92   91
r2    90  89  88  87  86  85  84  83  82   81
r3    80  79  78  77  76  75  74  73  72   71
r4    70  69  68  67  66  65  64  63  62   61
r5    60  59  58  57  56  55  54  53  52   51
r6    50  49  48  47  46  45  44  43  42   41
r7    40  39  38  37  36  35  34  33  32   31
r8    30  29  28  27  26  25  24  23  22   21
r9    20  19  18  17  16  15  14  13  12   11
r10   10   9   8   7   6   5   4   3   2    1

**df** is our first dataframe. <br>
We have columns, c1 to c10, and their corresponding rows, r1 to r10. <br>
Each column is actually a pandas series, sharing a common index (row labels). <br>

&#9758; Let's learn how to **Grab data** that we need, this is the most important thing we want to learn to move one!<br>

### Grab a single column c10

In [15]:
import pandas as pd
import numpy as np
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()
df = np.arange(100,0,-1).reshape(10,10)
df = pd.DataFrame(data=df,index=index,columns=columns)
df = df['c10']
print(df)

r1     91
r2     81
r3     71
r4     61
r5     51
r6     41
r7     31
r8     21
r9     11
r10     1
Name: c10, dtype: int64

r1     91
r2     81
r3     71
r4     61
r5     51
r6     41
r7     31
r8     21
r9     11
r10     1
Name: c10, dtype: int32

### Grab multiple columns c4, c2, c9

In [19]:
import pandas as pd
import numpy as np
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()
df = np.arange(100,0,-1).reshape(10,10)
df = pd.DataFrame(data=df,index=index,columns=columns)
df = df [['c4','c2','c9']]
print(df)

     c4  c2  c9
r1   97  99  92
r2   87  89  82
r3   77  79  72
r4   67  69  62
r5   57  59  52
r6   47  49  42
r7   37  39  32
r8   27  29  22
r9   17  19  12
r10   7   9   2

     c4  c2  c9
r1   97  99  92
r2   87  89  82
r3   77  79  72
r4   67  69  62
r5   57  59  52
r6   47  49  42
r7   37  39  32
r8   27  29  22
r9   17  19  12
r10   7   9   2

### Add a new column name 'new' and value would be c1 * c10

In [20]:
import pandas as pd
import numpy as np
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()
df = np.arange(100,0,-1).reshape(10,10)
df = pd.DataFrame(data=df,index=index,columns=columns)
df['new']= df['c1']*df['c10']
print(df)

      c1  c2  c3  c4  c5  c6  c7  c8  c9  c10   new
r1   100  99  98  97  96  95  94  93  92   91  9100
r2    90  89  88  87  86  85  84  83  82   81  7290
r3    80  79  78  77  76  75  74  73  72   71  5680
r4    70  69  68  67  66  65  64  63  62   61  4270
r5    60  59  58  57  56  55  54  53  52   51  3060
r6    50  49  48  47  46  45  44  43  42   41  2050
r7    40  39  38  37  36  35  34  33  32   31  1240
r8    30  29  28  27  26  25  24  23  22   21   630
r9    20  19  18  17  16  15  14  13  12   11   220
r10   10   9   8   7   6   5   4   3   2    1    10

      c1  c2  c3  c4  c5  c6  c7  c8  c9  c10   new
r1   100  99  98  97  96  95  94  93  92   91  9100
r2    90  89  88  87  86  85  84  83  82   81  7290
r3    80  79  78  77  76  75  74  73  72   71  5680
r4    70  69  68  67  66  65  64  63  62   61  4270
r5    60  59  58  57  56  55  54  53  52   51  3060
r6    50  49  48  47  46  45  44  43  42   41  2050
r7    40  39  38  37  36  35  34  33  32   31  1240
r8    30  29  28  27  26  25  24  23  22   21   630
r9    20  19  18  17  16  15  14  13  12   11   220
r10   10   9   8   7   6   5   4   3   2    1    10

### Delete the column 'new' permanently

In [33]:
import pandas as pd
import numpy as np
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()
df = np.arange(100,0,-1).reshape(10,10)
df = pd.DataFrame(data=df,index=index,columns=columns)
df['new']= df['c1']*df['c10']
df = df.drop(columns=['new'])
print(df)

      c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1   100  99  98  97  96  95  94  93  92   91
r2    90  89  88  87  86  85  84  83  82   81
r3    80  79  78  77  76  75  74  73  72   71
r4    70  69  68  67  66  65  64  63  62   61
r5    60  59  58  57  56  55  54  53  52   51
r6    50  49  48  47  46  45  44  43  42   41
r7    40  39  38  37  36  35  34  33  32   31
r8    30  29  28  27  26  25  24  23  22   21
r9    20  19  18  17  16  15  14  13  12   11
r10   10   9   8   7   6   5   4   3   2    1

      c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1   100  99  98  97  96  95  94  93  92   91
r2    90  89  88  87  86  85  84  83  82   81
r3    80  79  78  77  76  75  74  73  72   71
r4    70  69  68  67  66  65  64  63  62   61
r5    60  59  58  57  56  55  54  53  52   51
r6    50  49  48  47  46  45  44  43  42   41
r7    40  39  38  37  36  35  34  33  32   31
r8    30  29  28  27  26  25  24  23  22   21
r9    20  19  18  17  16  15  14  13  12   11
r10   10   9   8   7   6   5   4   3   2    1

### Grabb more than one rows 'r2', 'r1','r3'

In [41]:
import pandas as pd
import numpy as np
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()
df = np.arange(100,0,-1).reshape(10,10)
df = pd.DataFrame(data=df,index=index,columns=columns)
df = df.loc[['r2','r1','r3']]
print(df)

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r2   90  89  88  87  86  85  84  83  82   81
r1  100  99  98  97  96  95  94  93  92   91
r3   80  79  78  77  76  75  74  73  72   71

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r2   90  89  88  87  86  85  84  83  82   81
r1  100  99  98  97  96  95  94  93  92   91
r3   80  79  78  77  76  75  74  73  72   71

### Grab a sub-set of the dataframe where c1 is less than 50

In [42]:
import pandas as pd
import numpy as np
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()
df = np.arange(100,0,-1).reshape(10,10)
df = pd.DataFrame(data=df,index=index,columns=columns)
df = df[df['c1']<50]
print(df)

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r7   40  39  38  37  36  35  34  33  32   31
r8   30  29  28  27  26  25  24  23  22   21
r9   20  19  18  17  16  15  14  13  12   11
r10  10   9   8   7   6   5   4   3   2    1

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r7   40  39  38  37  36  35  34  33  32   31
r8   30  29  28  27  26  25  24  23  22   21
r9   20  19  18  17  16  15  14  13  12   11
r10  10   9   8   7   6   5   4   3   2    1

### Grab a sub-set of the dataframe where c3 is equal to 38 and c8 is equal to 33

In [46]:
import pandas as pd
import numpy as np
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()
df = np.arange(100,0,-1).reshape(10,10)
df = pd.DataFrame(data=df,index=index,columns=columns)
df = df[(df['c3']==38) & (df['c8']==33)]
print(df)

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r7  40  39  38  37  36  35  34  33  32   31

    c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r7  40  39  38  37  36  35  34  33  32   31